
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/homepage.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
  <style>
  .jumbotron{
	padding-top: 14px;
    padding-bottom: 14px;
  }
  </style>
</head>
<body>


<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="dashboard.html">Dashboard<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
		
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="elementary.html">Elementary</a></li>
            <li><a href="primary.html">Primary</a></li>
            <li><a href="secondary.html">Secondary</a></li>
            <li><a href="higher_secondary.html">Higher Secondary</a></li>
          </ul>
        </li>          
        <li ><a href="about.html">About Us<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>        
        <li ><a href="contact.html">Contact<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-phone"></span></a></li>        
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <p style="margin-bottom: 0px;">Welcome To PLPC Certifications</p> 
</div>

<div class="container">
  <div class="row">
  
    <div class="col-md-2 col-md-push-6">      
		<p style="font-size:160%";>
		Applying for the certificate with specified requirements
		</p>
    </div>
    
  </div>
</div>
</body>
</html>
